<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Website</title>
    <style>
        .login-button {
            position: absolute;
            top: 10px;
            right: 10px;
        }
        .product-button {
            position: absolute;
            top: 10px;
            right: 70px;
        }
    </style>
</head>
<body>
    <h1>
        Hello! Welcome to our webpage!
    </h1>
    <a href="/login"><button class="login-button">Login</button></a>
    <a href="/products"><button class="product-button">Products</button></a>
</body>
</html>
