<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <style>
        .login-button {
            position: absolute;
            top: 10px;
            right: 10px;
        }
        .home-button {
            position: absolute;
            top: 10px;
            right: 70px;
        }
    </style>
</head>
<body>
    <h1>
        Welcome to the products page!

    </h1>
    <a href="/login"><button class="login-button">Login</button></a>
    <a href="/"><button class="home-button">Home</button></a>
    
</body>
</html>
